html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6,
p, a, img, ol, ul, li,
form, label,
table, tbody, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
    font-family: sans-serif;
    color: #000;
    font-size: 16px;
}
ol, ul {
    list-style: none;
}
a {
	color: #4682B4;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.main {
	line-height: 1.2em;
	padding: 30px 20px
}
.main .inner {
	font-family: monospace, sans-serif;
}
.heading {
	font-size: 18px;
	font-weight: bold;
}
.input-field,
.submit-button {
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
}
.input-field {
	width: 50%;
	color: #555;
}
.submit-button {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}
.submit-button:hover {
	background-color: #3071a9;
	border-color: #285e8e;
	cursor: pointer;
}
.source {
	display: block;
	margin-top: 20px;
}

@media all and (max-width: 1023px) {
/*  html,
  body {
  	height: auto;
  }
  .main {
  	width: auto;
  	margin: 20px;
  }
  form {
  	width: 100%;
  	margin-top: 20px;
  }
  .input-field {
  	width: 50%;
  }*/

}